
@import url("https://fonts.googleapis.com/css?family=Monoton");

@font-face {
	font-family: Archer;
	src: url("../fonts/Archer/Archer.ttf");
}

@font-face {
	font-family: PressStart2P;
	src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf")
}

.monoton {
	font-family: "Monoton", cursive;
}

body {
	background-color: black;
	color: white;
}

h1 {
	font-family: "Monoton", cursive;
}

h2 {
	
}

p {
	font-family: "Bungee Shade", cursive;
}

.gridbox-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gridbox-box {
	background: #4D5656;
}