
@font-face {
	font-family: Archer;
	src: url("../fonts/Archer/Archer.ttf");
}

@font-face {
	font-family: PressStart2P;
	src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf")
}

body {
	background-color: black;
	color: white;
	font-family: Archer;
}

.gridbox-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.gridbox-box {
	background: #4D5656;
}