
@font-face {
	font-family: Archer;
	src: url("../fonts/Archer/Archer.ttf");
}

@font-face {
	font-family: PressStart2P;
	src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf")
}

body {
	background-color: black;
	color: white;
	font-family: PressStart2P;
}

.gridbox-container {
	display: grid;
}