html, body {
    overflow-x: hidden;
}

.centerX {
    text-align: center;
}

.centerY {
    position: relative;
    top: 50%;
    transform: translateX(-50%);
}

#intro-section {
    background-color: #dabbbb;
    background-image: url("../assets/stardust-header.png");
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
}

#main-section {
    width: 100%;
    min-height: 100%;
}