/* Archer */
@font-face {
	font-family: archer;
	src: url("../fonts/archer.ttf");
} .archer {
	font-family: archer;
}

/* Bungee Inline */
@font-face {
	font-family: bungeeinline;
	src: url("../fonts/bungeeinline.ttf");
} .bungeeinline {
	font-family: bungeeinline;
}

/* Comfortaa */
@font-face {
	font-family: comfortaa;
	src: url("../fonts/comfortaa.ttf");
} .comfortaa {
	font-family: comfortaa;
}

/* Fugaz One */
@font-face {
	font-family: fugazone;
	src: url("../fonts/fugazone.ttf");
} .fugazone {
	font-family: fugazone;
}

/* Gloria Hallelujah */
@font-face {
	font-family: gloriahallelujah;
	src: url("../fonts/gloriahallelujah.ttf");
} .gloriah {
	font-family: gloriahallelujah;
}

/* Indie Flower */
@font-face {
	font-family: indieflower;
	src: url("../fonts/indieflower.ttf");
} .indieflower {
	font-family: indieflower;
}

/* Just Me Again Down Here */
@font-face {
	font-family: jmadh;
	src: url("../fonts/jmadh.ttf");
} .jmadh {
	font-family: jmadh;
}

/* Kelly Slab */
@font-face {
	font-family: kellyslab;
	src: url("../fonts/kellyslab.ttf");
} .kellyslab {
	font-family: kellyslab;
}

/* Lemon */
@font-face {
	font-family: lemon;
	src: url("../fonts/lemon.ttf");
} .lemon {
	font-family: lemon;
}

/* Lily Script One */
@font-face {
	font-family: lilyscriptone;
	src: url("../fonts/lilyscriptone.ttf");
} .lilyscriptone {
	font-family: lilyscriptone;
}

/* Lobster */
@font-face {
	font-family: permamarker;
	src: url("../fonts/permanentmarker.ttf");
} .permamarker {
	font-family: permamarker;
}

/* Press Start 2P */
@font-face {
	font-family: pressstart2p;
	src: url("../fonts/pressstart2p.ttf");
} .pressstart2p {
	font-family: pressstart2p;
}

/* Secular One */
@font-face {
	font-family: secularone;
	src: url("../fonts/secularone.ttf");
} .secularone {
	font-family: secularone;
}

/* Unica One */
@font-face {
	font-family: unicaone;
	src: url("../fonts/unicaone.ttf");
} .unicaone {
	font-family: unicaone;
}

/* Vast Shadow */
@font-face {
	font-family: vastshadow;
	src: url("../fonts/vastshadow.ttf");
} .vastshadow {
	font-family: vastshadow;
}

/* VT323 */
@font-face {
	font-family: vt323;
	src: url("../fonts/vt323.ttf");
} .vt323 {
	font-family: vt323;
}

/* Yatra One */
@font-face {
	font-family: yatraone;
	src: url("../fonts/yatraone.ttf");
} .yatraone {
	font-family: yatraone;
}